

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.draggable {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-size: cover;
    cursor: move;
}

img{
	width: 100px;
    height: 100%;
	object-fit: contain;
}

/* #div1 {
    background-image: url('');
}

#div2 {
    background-image: url('');
}

#div3 {
    background-image: url('');
}

#div4 {
    background-image: url('');
}

#div5 {
    background-image: url('');
}

#div6 {
    background-image: url('');
} */
